<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Taskist</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <style>
      .completed{
        text-decoration-line: line-through;
      }

      .complete-tab > span{
        background-color: hsl(217, 71%, 53%);
        color: hsl(0, 0%, 96%);
        padding: 5%;
        border-radius: 30%;
      }

      .not-complete-tab > span{
        background-color: hsl(48, 100%, 67%);
        color: hsl(0, 0%, 29%);
        padding: 5%;
        border-radius: 30%;
      }
      input.largerCheckbox {
       /* transform : scale(3); */
        width: 30px;
        height: 30px;
      }
    </style>
  </head>
  <body style="width:100%">

    @include('layouts/partials/_navbar')

  <section class="section">
    <div class="container">
      @!section('content')
    </div>
  </section>
  </body>
</html>
